
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw; 
    background-color: rgba(67, 116, 194, 0.3); 
}

.register-form {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
